<h1>Listing micriposts</h1>

<table>
  <tr>
    <th>Contend</th>
    <th>User</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @micriposts.each do |micripost| %>
  <tr>
    <td><%= micripost.contend %></td>
    <td><%= micripost.user_id %></td>
    <td><%= link_to 'Show', micripost %></td>
    <td><%= link_to 'Edit', edit_micripost_path(micripost) %></td>
    <td><%= link_to 'Destroy', micripost, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Micripost', new_micripost_path %>
